[General]
device_name=Generic MQTT USB Power Controller

[MQTTBrokerConfig]
mqtt_host=localhost
mqtt_port=1883
mqtt_client_id=
mqtt_use_authentication=True
mqtt_username=username
mqtt_password=password
mqtt_use_ssl=False
mqtt_port_ssl=8883

[MQTTTopicConfig]
mqtt_topic_set_usb_power_state=the/topic/to/subscribe/for/set/switch/state/commands
mqtt_topic_report_usb_power_state=the/topic/to/publish/switch/state

[USBPortConfig]
usb_hub=1-1
